<div class="container mt-5 mb-5">

<h1>about</h1>

<p>ZE_ROSE_infomation</p>

<p>当サイトは、センイルカフェや広告、スローガンなどの情報をまとめたサイトです。</p>

<p>あくまで、まとめているだけですので、詳細やお問い合わせは主催者様へお願いいたします。</p>

<p>限られた応援期間ですが、充実したZE_ROSEライフのお手伝いになれば幸いです(metyu絵文字挿入)</p>

<p>●お問い合わせ<br>
<%= link_to "Twitter", "" %>のDMにてお願いします。</p>

</div>