    <table class='table table-hover table-inverse'>
    <thead>
      <tr>
      <th></th>
      <th>ジャンル</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% places.each do |place| %>
    <tr>
    <td>
      <%= place.place %>
    </td>
    <td>
      <%= link_to '編集' , edit_admin_place_path(place), class: "btn btn-sm" %>
    </td>
    </tr>
    <% end %>
    </tbody>
    </table>