<div class="container mt-5 mb-5">
 <div class="row">
   <div class="card-list-container py-5">

      <div class="card w-25 mx-auto mt-3 ">
        <%# if post_event.image.attached? %>
          <%#= image_tag post_event.image, size: "300x400" %>
        <%# else %>
          <%= image_tag 'no_image', size: "300x400" %>
        <%# end %>
      <div class="card-body">
        <div class="row">
        <!--<div class="col-5">-->
          <p class="card-title">
            <%#= link_to(post_image_path(post_image.id), class:"text-dark") do %>
              <strong><span>イベントタイトル<%#= post_image.shop_name %></span>　<i class="fa-solid fa-heart fa-lg" style="color: #f4a4c0;"></i></strong>
            <%# end %>
          </p>
          <p class="card-member">メンバー</p>
          <span>日時 | 場所</span>
        <!--</div>-->
      </div>
    </div>
  </div>

</div>




  </div>
</div>
